:root {
    --bg-color: #f9f1ec;
    --purple-dark: #956bc6;
    --purple-light: #d9c1e7;
}

body {
    background-color: var(--bg-color);
}

header {
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    /* using a banner as a background image */
    background-image: url("../images/header-cartoon-lavender.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1 {
    display: inline-block;
    font-size: 48px;
    text-shadow: 3px 3px 3px var(--purple-light);
}

h2 {
    margin-left:30px;
}

/* nav in the heading on the right */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

/* properties of the nav elements themselves */
header nav ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5px;
    right: 20px;
    text-shadow: 0 0 3px white;
}


/* unvisited link */
.hidden-link:link {
    color: black;
    text-decoration: none;
}

/* visited link */
.hidden-link:visited {
    color: var(--purple-light);
}

/* mouse over link */
.hidden-link:hover {
    color: var(--purple-dark);
    text-decoration: underline;
}
  
/* selected link */
.hidden-link:active {
    color: var(--purple-dark);
    text-decoration: underline;
}

/* properties of the line between every section */
.line-break {
    background-color: var(--purple-light);
    height: 5px;
}

.main-sections {
    margin: 10px;
}

/* my recent photo */
.recent-photo {
    float: right;
    width: 20%;
    min-width: 100px;
    max-width: 150px;
    border: 5px;
    border-style: solid;
    border-color: var(--purple-dark);
}

/* note appears when yes is clicked */
.click-yes:active::after {
    content: " --- go to the 'Get in touch' part!";
}

/* sad face appears when no is clicked */
.click-no:active::after {
    content: "\1F61E";
}

/* create our main grid with flexbox */
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;  
}

.project-screenshots {
    width: 100%;
    border: 5px solid var(--purple-light);
    border-radius: 10px;
}

/* picture border changes color when mouse over link */
.project-screenshots:hover {
    border-color: lightblue;
}

.new-project h3,
.old-project h3 {
    background-color: var(--purple-light);
    /* width: 50%; */
    display:flex;
    justify-content: center;
    border-radius: 10px;
    padding: 0 3 px;
}

/* some properties are the same for all projects, but the new project needs to stand out */
.new-project,
.old-project {
    padding: 0 25px 15px 15px;
    border: 5px dotted var(--purple-dark);
    border-radius: 10px;
    margin: 10px;
}

.new-project {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.old-project {
    width: 28%;
}

#resume h3 {
    margin: 10px;
    padding: 3px;
    border: 3px solid black;
    width: 100px;
    background-color: white;
}

.resume-section {
    background-color: var(--purple-light);
    border-radius: 10px;
    border: 5px solid var(--purple-light);
    margin: 10px;
}

.resume-box {
    width: 90%;
    padding: 0px 10px;
    border: 3px dotted black;
    background-color: white;
    margin: 10px;
}

.resume-box img {
    width: 100%;
    border: 1px solid black;
}

.education {
    width: 500px;
    min width: 300px;
}

.experience {
    width: 800px;
    min width: 500px;
}

/* .experience .resume-box {
    width: 90%;
} */

.form-content {
    width: 50%;
    float: left;

}

.info {
    background-color: var(--purple-light);
    float:right;
    padding: 5px 20px;
    margin-right: 20px;
    border: 5px dotted white;
    width: 20%;
    height: 100%;
    word-wrap: break-word;
}

.icon {
    width: 50px;
    margin-left: 30px;
}

.social-media {
    display: flex;
    flex-direction: row;
}

/* responsive design */
/* I added this special number because of the photo qualities so it doesn't shrink */
@media screen and (max-width: 1110px) {
    header{
        background-size:cover;
    }
}

@media screen and (max-width: 992px) {
    .old-project {
        width: 40%;
    }
}
  
@media screen and (max-width: 768px) {
    .new-project {
        width: 100%
    }
    .old-project {
        width: 75%;
    }
}
  
@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
        background-color: var(--bg-color);
    }
    .new-project,
    .old-project {
        word-wrap: break-word;
    }
}